._Link{
	font-size: 20px;
	font-family: Gill Sans, sans-serif;
	color: #bdbdf0;
	/*text-shadow: 2px 2px 5px #82f4ff;*/
	background-color: #0a0e33;
	padding: 10px 75px;
	margin-left: 35px;
	margin-right: 30px;
	margin-top: 40px;
	text-decoration: none;

}

#_Header{
	height:60px;
	line-height: 60px;
	align-items: center;
	vertical-align: bottom;
	background-color: #0a0e33;
}
