.Link{
	font-size: 20px;
	font-family: Gill Sans, sans-serif;
	color: #bdbdf0;
	/*text-shadow: 2px 2px 5px #82f4ff;*/
	background-color: #1a1e4d;
	padding: 20px 110px;
	margin-left: 35px;
	margin-right: 30px;
	margin-top: 40px;
	
}

#Header{
	width:1000px;
	display: flex;
	align-items: center;
	vertical-align: middle;
	background-color: #1a1e4d;
}