
.taxPage {
    flex: 1;
    width: 100%;
    height: 100vh;
    background-color: #1a1e4d;
    color: #bdbdf0;
    background-image: url('../../../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:1000px;
        display: flex;
    justify-content: center;
    
}


.title {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    /* font-weight: 300; */
    /* letter-spacing: 3px; */
    font-family: Gill Sans, sans-serif;
    color: #bdbdf0;
    margin: 5
}

.headings {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: Gill Sans, sans-serif;
	color: #bdbdf0;
}
#content {
    display: inline-flex;
    justify-content: center;
    text-align: center;

}

#t2_content{
    padding: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: solid;
    border-color: #bdbdf0;
    border-radius: 70px;
    border-width: 1px;
    display: inline-block;
}
.button{
    text-align: center;
    margin: 200px 60px;
    padding: 40px;
    font-size: 25px;
    font-family: Gill Sans, sans-serif;
    color: #bdbdf0;
    border-style: solid;
    border-color: #bdbdf0;
    border-radius: 70px;
    border-width: 1px;
}

.button:hover{
    text-shadow: 0 0 3px #bdbdf0;
    box-shadow: 0 0 10px #bdbdf0;
}

.buffer{
    margin: 200px 60px;
    padding: 60px 65px;
    font-size: 25px;
    border-style: solid;
    border-color: #bdbdf0;
    border-radius: 60px;
    border-width: 1px;
}

.q{
    margin-left: 90px;
    margin-top: 50px;
    padding: 20px;
    font-size: 15px;
    color: #bdbdf0;
    height: 60px;
    width: 100px;
    background-color: #1a1e4d;
    border-color: #bdbdf0;
    border-radius: 20px;
    border-width: 1px;
}

.submit{
    margin-top: 50px;
    padding: 20px;
    font-size: 15px;
    color: #bdbdf0;
    height: 60px;
    width: 100px;
    background-color: #1a1e4d;
    border-color: #bdbdf0;
    border-radius: 20px;
    border-width: 1px;
    align-content: center;
}

#income{
    margin: 20px;
    height: 55px;
    font-size: 15px;
    color: #bdbdf0;
    font-family: Gill Sans, sans-serif;
    background-color: #1a1e4d;
    border-color: #bdbdf0;
    border-radius: 20px;
    border-width: 1px;
}