
.interestPage {
    flex: 1;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:1000px;
}

.title {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    /* font-weight: 300; */
    /* letter-spacing: 3px; */
    font-family: Gill Sans, sans-serif;
    color: #bdbdf0;
    margin: 5
}

.headings {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: Gill Sans, sans-serif;
	color: #bdbdf0;
}

.input {
    background-color: #1a1e4d;
    border-color: #562a73;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: 0;
    color: #bdbdf0;
    font-size: 16px;
}

.input::placeholder {
    color: #8a2be2;;
}

.info {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 3px;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #bdbdf0;
    font-weight: 500;
}
