
.tutorialPage {
    flex: 1;
    width: 100%;
    height: 100vh;
    background-color: #1a1e4d;
    color: #bdbdf0;
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:1000px;
}


.title {
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    /* font-weight: 300; */
    /* letter-spacing: 3px; */
    font-family: Gill Sans, sans-serif;
    color: #bdbdf0;
    margin: 5
}

.headings {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: Gill Sans, sans-serif;
	color: #bdbdf0;
}

.module_Tutorials {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #bdbdf0;
    align-items: center;
    margin:0 auto;
}

.module_Card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 14px;
    font-family: Gill Sans, sans-serif;
    margin: 0 auto;
    background-color: #bdbdf0;
    padding: 20px;
    border-radius: 200px;
    width: 150px;
    height: 150px;

}

.module_Cards {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 3px;
    font-family: Gill Sans, sans-serif;
    text-align: center;
	
}